body { 
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 70px; 
}

.show-grid { margin: 10px 6px; }

@media screen and ( max-width: 700px ) {
	.show-grid { margin: 0; }
}

.play-well { 
	margin: 0 auto 10px;
	max-width:800px; 
}

.btn-play {
	font-size: 27px;
	font-family: Georgia, "Times New Roman", Times, serif;
}